.admin-navbar {
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 9999;

    /* Container margin para dar o mesmo espaço visual original do botão */
    margin: 20px 0;

    @media (max-width: 768px) {
        right: 10px;
    }
}
